@charset "utf-8";

body{
   color:black;
   font-size: 20px;
   
}
button{
    font-size: 50%;
    width: 10%;
}
input[type=radio]{
    width: 20px;
    height: 20px;
    vertical-align:middle ;
}
input[type=text]{
}