h1{
    background-color: darkgreen;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 1%;
}
body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(198, 242, 245);
  font-size:30px;
}
.add{
   
}
table{
   margin-left: auto;
   margin-right: auto;
  
   border-collapse: collapse;
}
tr{
   width: 40px;
   height: 50px;
}
td{
    border-collapse: collapse;
   
    padding: 5px;
}
th{
    border-collapse: collapse;
}
.images{
    height: 50px;
}
.button{
    margin: 0.5%;
}
.textbox{
    height: 200%;
}
textarea{
    font-size:30px;
}