h1{
    background-color: darkgreen;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 1%;
}
body{
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: rgb(198, 242, 245);
}
table{
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-collapse: collapse;
}
img{
    max-width: 600px;
}
tr{
   width: 40px;
   height: 50px;
}
td{
    border-collapse: collapse;
}
th{
    border-collapse: collapse;
}
.images{
    height: 50px;
}
.button{
    margin: 0.5%;
}
.imgdayo{
    border: none;
}
.yoko1{
    width: 200px;
}
button{
    width: 80px;
    font-size: 30px;
    margin: 0.5%;
}